@font-face {
	font-family: "Garamond";
	src: url("garamond.ttf");
}

body {
    padding: 0;
    margin: 0;
    background-color: #2e2e2e;
}

.hb_headerSection {
    width: 100%;
    height: 600px;
    background-size: cover;
    box-shadow: inset 0px 0px 25px 25px #2e2e2e;
    background-color: black;
}

.hb_followTop {
     position:fixed;
     background-color:#2e2e2e;
     opacity: 0.8;
     width: 100%;
     z-index: 50;
     padding: 10px;
     padding-left: 30px;
}

 .hb_leftFollow {
    font-family: "Garamond";
    font-size: 40px;
    opacity: 1;
    color:white;
}

.hb_rightFollow {
    font-family: "Garamond";
    color: white;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    opacity: 1;
    font-weight: 900;
    font-size: 25px;
}

.hb_leftFollowLogo {
    width: 50px;
}

.hb_navlink {
    color: white;
}

.hb_navlink:hover {
    color: #E6B60B;
    text-decoration: underline;
}

#hb_leftFollowInline {
      display: inline-block;
      vertical-align: middle;
}

.hb_leftFollow, .hb_rightFollow {
    display: inline-block;
}

.hb_line {
    background-color: #E6B60B;
    width: 75%;
    height: 2px;
    margin: 0 auto;
}

.hb_title {
    font-family: "Garamond";
    font-size: 48px;
    color: #E6B60B;
    
}

.hb_bodyText {
    font-family: "Garamond";
    font-size: 20px;
    color: white;
}

.hb_menuSection {
    background-color: #212121;
    width: 75%;
    margin: auto;
    text-align: center;
}

.hb_menuBlock {
    display: inline-block;
    width: 425px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: "Garamond";
    font-size: 20px;
    vertical-align: top;
}

.hb_locationSection {
    background-color: #212121;
    width: 75%;
    margin: auto;
    text-align: center;
}

.hb_locationBlock {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    height: 300px;
    padding: 10px;
    font-family: "Garamond";
    color:white;
    padding-top: 20px;
    padding-bottom: 0px;
}

.hb_locationPicture {
    max-width: 250px;
    margin: 0 auto;
    max-height: 200px;
}

a {
    text-decoration: none;
}

