.imageBanner {
	background-image: url("about-img/header.png");
	width: 100%;
	height: 450px;
	background-size: cover;
	background-position: center center;
	background-color: black;
}

.aboutSection1 {
	background-color: white;
	width: 100%;
	text-align: center;
	font-family: "GeoSans";
	font-weight: 900;
	font-size: 20px;
}

.mapIMG {
	width: 60%;
	margin: 0 auto;
}

.aboutSection1-Text {
	width: 70%;
	text-align: left;
	margin: 0 auto;
    text-indent: 25px;
}