.edt_Title {
    margin: 0 auto;
    font-family:'Coolvetica';
    font-size: 50px;
    border: 3px solid white;
    width: 50%;
    text-align: center;
    padding: 30px;
    color:white;
}

.IntroImage {
    display: block;
    margin: 0 auto;
}

.bodytext {
    font-family: "GeoSans";
    font-weight: 900;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.edt_HeaderBackground {
    background-color: black;
    background-image: url("edt_images/header-background2.jpg");
    background-size: cover;
    background-position: center 30%;
    box-shadow: 0px 0px 200px 75px black inset;
}


.edt_presentationButton {
    background-color:black;
    color:white;
    font-family:'Mesmerize Regular';
    font-size:20px;
    padding:20px;
    width: 200px;
    margin: 0 auto;
    text-align:center;
    transition: opacity 0.20s ease-in-out, background-color 0.20s ease-in-out;
}

.edt_presentationButton:hover {
    opacity: 0.8;
    background-color: green;
}

#edt_choices_edt {
    display: inline-block;
}


#cad_choices_cad {
    display: inline-block;
}

#edt_option_pingpong {
    background-image: url("edt_images/thumbnail-edt-pingpong.jpg");
}

#edt_option_pingpong:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("edt_images/thumbnail-edt-pingpong.jpg");
}

#edt_option_griddle {
    background-image: url("edt_images/thumbnail-edt-griddle.jpg");
}

#edt_option_griddle:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("edt_images/thumbnail-edt-griddle.jpg");
}

#edt_option_bridge {
    background-image: url("edt_images/thumbnail-edt-bridge.jpg");
}

#edt_option_bridge:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("edt_images/thumbnail-edt-bridge.jpg");
}

#edt_option_container {
    background-image: url("edt_images/thumbnail-edt-container.jpg");
}

#edt_option_container:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('edt_images/thumbnail-edt-container.jpg');
}


#cad_option_jpl {
    background: url("cad_images/thumbnail-cad-jpl.jpg");
}

#cad_option_jpl:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('cad_images/thumbnail-cad-jpl.jpg');
}


#cad_option_ebike {
    background: url("cad_images/thumbnail-cad-ebike.png");
}

#cad_option_ebike:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("cad_images/thumbnail-cad-ebike.png");
}

#cad_option_cswa {
    background: url("cad_images/thumbnail-cad-cswa.png");
}

#cad_option_cswa:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("cad_images/thumbnail-cad-cswa.png");
}

#cad_option_kinetic {
    background: url("cad_images/thumbnail-cad-kinetic.png");
}

#cad_option_kinetic:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("cad_images/thumbnail-cad-kinetic.png");
}


.cad_option, .edt_option {
    width: 200px;
    height: 90px;
    color: rgba(0,0,0,0);
    font-family: "Mesmerize Regular";
    padding: 50px;
    padding-top: 60px;
    background-size: cover;
    font-size: 30px;
    font-weight: 600;
    transition: .2s ease-in-out;
}

.cad_option:hover, .edt_option:hover {
    color: rgba(255,255,255,1);
    font-family: "Mesmerize Regular";
}

@media (max-width: 700px) {
    .edt_Title {
        width: 85%;
        padding: 10px;
    }
    .bodytext {
        width: 100%;
    }
}
